<form action="" method="post" id="form">
    <div class="form">
        <h1 class="titulo"> Bienvenido a Galante</h1>
        <h3 class="sub-titulo"> Encontrá el arte que amas</h3>
          <div class="formulario">
            <label for="nameInput" class="form-label">Nombre</label>   
            <input type="text" class="form-control" id="nameInput" placeholder="Escriba su nombre">
          </div>
          <div class="formulario">
            <label for="apellidoInput" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="apellidoInput" placeholder="Escriba su apellido"> 
          </div>
          <div class="formulario">
                <label for="emailInput" class="form-label">Direccion de correo electronico</label>
                <input type="email" class="form-control" id="emailInput" placeholder="nombre@ejemplo.com"> 
           </div>
          <div class="formulario">
              <label for="passInput" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="passInput" placeholder="Escriba su contraseña">
          </div>
          <div class="col-12">
            <div class="form-check">
              <input type="checkbox" id="checkTerms" class="form-check-input" >
              <label for="checkTerms" class="form-check-label"> Acepto los terminos y condiciones</label>
            </div>
          </div>
          <div class="formulario5">
            <button type="submit" class="btn btn-primary"> 
              Registrate
            </button>
          </div>
    </div>
  </form>