<!DOCTYPE html>
<html lang="en">
    <!-- head -->
  <%- include('../partials/head.ejs', {title: 'Nuevo producto'}) %>

  <body>
      <%- include('../partials/header.ejs') %>

    <main>
      <form action="nuevoProducto" method="post" class="container" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label">Título</label>
          <input type="text" class="form-control" id="title" name="title" aria-describedby="emailHelp">
        </div>

        <div class="input-group mb-3">
          <input type="file" class="form-control" id="thumbnail" name="thumbnail">
          <label class="input-group-text" for="thumbnail">Imagen</label>
        </div>

        <div class="mb-3">
          <label for="title" class="form-label">Descipción</label>
          <input type="text" class="form-control" id="descripcion" name="descripcion" aria-describedby="emailHelp">
        </div>
       
        <div class="mb-3">
          <label for="title" class="form-label">Precio</label>
          <input type="number" class="form-control" id="precio" name="precio" aria-describedby="emailHelp">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </main>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>