<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Formulario Registro</title>
</head>
<body>
<section>
    <input type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">
    <input type="text" name="apellidos" id="apellidos" placeholder="Ingrese su Apellidos">
    <input type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
    <input type="password" name="correo" id="correo" placeholder="Ingrese su Contraseña">
</section>
</body>




</html>