<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/Registro.css" />
    <title>Formulario Registro</title>
</head>
<body>

    <form action="" method="post" id="form">
      <div class="form">
          <h1 class="titulo"> Registro</h1>
          <h3 class="sub-titulo"> Ingresa para ver nuevas ideas y compartir experiencias</h3>
            <div class="formulario">
                 <input type="text" name="" id="name" placeholder="Ingrese su Nombre Completo" required> <span class="barra"></span>
                 <label for="">Nombre</label>
            </div>
            <div class="formulario">
                  <input type="email" name="email" id="Email" placeholder="Ingrese su Email"  required> <span class="barra"></span>
                  <label for="">Email</label>
            </div>
            <div class="formulario">
                <input type="password" name="" id="Password" placeholder="Ingrese su Contraseña" required> <span class="barra"></span>
                <label for="">Password</label>
            </div>
        <button type="submit">Ingresar</button>
      </div>
    </form>  
    
    
    


</body>




</html>