<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/Registro.css" />
    <title>Formulario Registro</title>
</head>
<body>
    <section class="Registro">
      <div class="form">
        <h1 class="titulo"> Registro</h1>
        <div class="formulario">
            <input type="text" name="" id="name" required> <span class="barra"></span>
            <label for="">Nombre</label>
        </div>
        <div class="formulario">
            <input type="email" name="" id="Email" required> <span class="barra"></span>
            <label for="">Email</label>
        </div>
        <div class="formulario">
            <input type="password" name="" id="Password" required> <span class="barra"></span>
            <label for="">Password</label>
        </div>
        <button type="submit">Ingresar</button>
      </div>
    </section>
    
    


</body>




</html>