header{
  
}
main{
  display: block;
  width: 100%;
 }
 .contenedora{
  display: grid;
  gap: 50px;
  grid-template-columns: calc(100% - 392px) auto;
  height: auto;
  margin: 100px auto 44px;
  max-width: 1200px;
  min-height: unset;
 }
 .contenedor-p{
  padding-top: 0;
  padding-bottom: 0;
 }
 .contenedor{
  width: 100%;
  height: auto;
 }
.separador{
  background: rgba(0,0,0,.1);
  height: 1px;
  margin: 0;
  width: 100%;
}
