main{
  display: block;
  width: 100%;
 }
 .contenedora{
  display: grid;
  gap: 50px;
  grid-template-columns: calc(100% - 392px) auto;
  height: auto;
  margin: 100px auto 44px;
  max-width: 1200px;
  min-height: unset;
 }
 .contenedor-p{
  padding-top: 0;
  padding-bottom: 0;
 }
 .contenedor{
  width: 100%;
  height: auto;
 }
.separador{
  background: rgba(0,0,0,.1);
  height: 1px;
  margin: 0;
  width: 100%;
}
.descripcion{
  font-weight: bold;
  margin-bottom: 4px;
  white-space: nowrap;
}
.productos-row{
  background: #fff;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 16px 0;
  position: relative;
  width: 100%;
  flex-direction: row;
}
.articulos{
  width: 640px;
}
.imagen{
  width: 64px;
  margin-right: 24px;
  margin-left: 15px;
  margin-bottom: 4px;
}
.--bold{
  padding-left: 10px ;
  
}
.puntos{
  margin-bottom: auto;
  margin-right: 10px;
  margin-top: 0;
}
svg{
  width: 21px;
  height: 153px;
}

.item-precio{
  margin-top: 61px;
}
.contenedora-resumen{
  border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0,0,0,.12);
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 16px;
    margin-top: 10px;
    padding: 20px 10px 24px;
    position: -webkit-sticky;
    position: sticky;
    top: 32px;
    width: 360px;
    z-index: 10;
}
.ola{
  padding-bottom: 109px;
}

.ticket-row-contenedor{
  height: 150px;
  padding-bottom: 20px;
}
.ticket-row{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.envio{
  margin-top: 7px;
}
.total{
  margin-top: 20px;
  margin-bottom: 20px;
}
.continuar-compra{
  text-align: center;
  margin-bottom: 20px;
}

.continuar{
font-weight:bold;
background-color: transparent;
color: #444;
font-size: 1rem;
padding: 1rem 1.5rem;
border: 2px solid #eee;
border-radius: 5rem;
cursor: pointer;
transition: all 1s ease;
box-shadow: .5rem .5rem 1rem #ccc,
  -5rem -.5rem 1rem #fff;
}
.botones-s{
  border: none;
  color: #CC3300 ;
  background-color: #fff;
  margin-bottom: 6px;
}
.productos-header{
  text-align: center;
  margin-bottom: 10px;
}

.vaciar {
  color: #CC3300;
  margin-top: 10px;
  width: 190px;
}


