
.product-image {
  flex: 0 0 50%;
}

.product-description {
  flex: 0 0 50%;
  text-align: center;
}

.product-container {
  display: flex;
  align-items: center;
  margin-top: 100px;
}

.purchase {
  display: flex;
  margin-top: 5%;
  padding-left: 49%;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.boton-purchase {
  display: flex;
  padding-left: 48%;
  justify-content: space-evenly;
  margin-top: 50px;
}

.boton-payment {
  display: flex;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
