.container-new {
    margin-top: 120px;
  }
  
.row {
    align-items: center;
}

.product-image {
    flex: 0 0 auto;
    margin-right: 20px;
}

.product-image img {
    max-width: 100%;
    height: auto;
}

.zoomable {
    transition: transform 0.2s ease;
}

.zoomable:hover {
    transform: scale(1.1);
}