body{
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    background-color: red;
    padding: 40px 0;
    
}
.titulo{
    text-align: center;
    font-weight: 700;
}
.sub-titulo{
    text-align: center;
    margin-left: 19px;
    margin-right: 3px;
    width: 331px;
}
.form{
    width: 100%;
}
form .formulario{
    position: relative;
    margin: 45px;
}
input{
    background: none;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    width: 100%;
    border: none;
    border-bottom: 1px solid red;
}
button{
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 148px;
}





