.titulo {
    text-align: center;
}
.linea {
    background: black ;
    height: 5px;
    width: 100%;
    display: block;
}

img{
    max-width: 100%;
}

.galeria img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}


.producto {
    position: relative; /* Establecer la posición relativa para el contenedor */
}

.producto:hover{
    box-shadow: 0px 0px 10px  rgb( 100 , 100 , 100 );
}

.producto:hover img{
    opacity: 0.1;
}

.titulo-producto {
    position: absolute; /* Establecer la posición absoluta para el título */
    top: 50%; /* Alinear el título en el centro vertical */
    left: 50%; /* Alinear el título en el centro horizontal */
    transform: translate(-50%, -50%); /* Centrar el título en el medio */
    font-weight: bold;
    padding: 10px; /* Espaciado interno del título */
    opacity: 0; /* Ocultar el título por defecto */
    transition: opacity 0.3s; /* Agregar transición para suavizar la aparición */
}

.descripcion-producto{
    position: absolute; /* Establecer la posición absoluta para el título */
    top: 80%; /* Alinear el título en el centro vertical */
    left: 50%; /* Alinear el título en el centro horizontal */
    transform: translate(-50%, -50%); /* Centrar el título en el medio */
    padding: 10px; /* Espaciado interno del título */
    opacity: 0; /* Ocultar el título por defecto */
    transition: opacity 0.3s; /* Agregar transición para suavizar la aparición */
}

.producto:hover .titulo-producto {
    opacity: 1; /* Mostrar el título al hacer hover en el contenedor */
    z-index: 1;
}

.producto:hover .descripcion-producto {
    opacity: 1; /* Mostrar el título al hacer hover en el contenedor */
    z-index: 1;
}

.old-price{
    text-decoration: line-through;
}

.list-unstyled li a{
    text-decoration: none;
    color: white;
}

.producto-mobile{
    display: none;
}

.precio{
    color: green;
    font-weight: bold;
}

@media only screen and (max-width: 1440px){
    .producto-mobile{
        display: flex;
        justify-content: space-around;
        padding: 10px;
        max-width: 100%; /* Establecer el ancho máximo del contenedor al 100% */
        box-sizing: border-box; /* Incluir el padding en el ancho máximo */
    }
}

.container {
    margin-top: 120px;
  }
  
  .row {
    align-items: center;
  }
  
  .product-image {
    flex: 0 0 auto;
    margin-right: 20px;
  }

  .product-image img {
    max-width: 100%;
    height: auto;
  }

  .zoomable {
    transition: transform 0.2s ease;
  }
  
  .zoomable:hover {
    transform: scale(1.1);
  }