<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
</head>
<body>
<%- include('./partials/header.ejs') %> 
    


</body>
  

</html>