<footer class="bg-dark text-light text-center" id="footer">
  <div class="container py-4">
      <div class="row">
          <div class="col-md-6">
              <h5>Enlaces</h5>
              <ul class="list-unstyled">
                  <li><a href="#">Inicio</a></li>
                  <li><a href="#">Quiénes somos</a></li>
                  <li><a href="#">Contáctanos</a></li>
                  <li><a href="/users/registro">Registro</a></li>
              </ul>
          </div>
          <div class="col-md-6">
              <h5>Contacto</h5>
              <p>Dirección: 123 Calle Principal, Ciudad</p>
              <p>Teléfono: 123-456-7890</p>
              <p>Email: tienda@galante.com</p>
          </div>
      </div>
  </div>
  <div class="bg-secondary py-2">
      <div class="container text-center">
          <p class="mb-0">&copy; 2023 Galante. Todos los derechos reservados.</p>
      </div>
  </div>
</footer>